{% extends 'layout/Layout.html'%}
{% load static %}
{% block content %}

<div class="container mt-4">
    <div class="row">
        <div class="col-12">
            <h3 class="mt-4 mb-4">Détails du Contrat</h3>
        </div>

        <!-- Informations de l'employé -->
        <div class="col-md-6">
            <p><strong>Nom de l'employé :</strong> {{ detailcontrats.employe.nom }}</p>
            <p><strong>Prénom(s) :</strong> {{ detailcontrats.employe.prenoms }}</p>
            <p><strong>Matricule :</strong> {{ detailcontrats.employe.numero_matricule }}</p>
            <p><strong>Type de Contrat :</strong> {{ detailcontrats.type_contrat }}</p>
            <p><strong>Structure :</strong> {{ detailcontrats.structure }}</p>
            <p><strong>Description du Poste :</strong> {{ detailcontrats.description_poste }}</p>
            <p><strong>Description du Profil :</strong> {{ detailcontrats.description_profil }}</p>
        </div>

        <!-- Informations complémentaires -->
        <div class="col-md-6">
            <p><strong>Lieu d'affectation :</strong> {{ detailcontrats.lieu_affectation }}</p>
            <p><strong>Diplôme requis :</strong> {{ detailcontrats.diplome_requis }}</p>
            <p><strong>Date de début :</strong> {{ detailcontrats.date_debut }}</p>
            <p><strong>Date de fin :</strong> {{ detailcontrats.date_fin }}</p>
            <p><strong>Âge légal de retraite :</strong> {{ detailcontrats.age_legal_retraite }} ans</p>
            <p><strong>Date de retraite prévue :</strong> {{ detailcontrats.date_retraite_prevue }}</p>
            <p><strong>Années avant la retraite :</strong> {{ detailcontrats.annees_avant_retraite }}</p>
        </div>

        <!-- Informations supplémentaires -->
        <div class="col-md-6">
            <p><strong>Mode de calcul :</strong> {{ detailcontrats.mode_calcul }}</p>
            <p><strong>Cadre :</strong> {{ detailcontrats.cadre|yesno:"Oui,Non" }}</p>
            <p><strong>Type de personnel :</strong> {{ detailcontrats.get_type_personnel_display }}</p>
            <p><strong>Nature du revenu :</strong> {{ detailcontrats.get_nature_revenu_display }}</p>
        </div>

        <!-- Informations sur le salaire -->
        <div class="col-12 mt-4">
            <h4 class="mb-4">Éléments composant le salaire</h4>
            <div class="row">
                <div class="col-md-6">
                    <p><strong>Salaire de base :</strong> {{ detailcontrats.salaire_base }}</p>
                    <p><strong>Indemnité logement :</strong> {{ detailcontrats.indemnite_logement }}</p>
                    <p><strong>Indemnité transport :</strong> {{ detailcontrats.indemnite_transport }}</p>
                    <p><strong>Indemnité fonction :</strong> {{ detailcontrats.indemnite_fonction }}</p>
                    <p><strong>Prime de nourriture :</strong> {{ detailcontrats.prime_nourriture }}</p>
                </div>
                <div class="col-md-6">
                    <p><strong>Prime de lait :</strong> {{ detailcontrats.prime_lait }}</p>
                    <p><strong>Prime de salissure :</strong> {{ detailcontrats.prime_salissure }}</p>
                    <p><strong>Nombre d'années de travail :</strong> {{ detailcontrats.nombre_annee_travail }}</p>
                    <p><strong>Prime d'ancienneté :</strong> {{ detailcontrats.prime_anciennete|yesno:"Oui,Non" }}</p>
                    <p><strong>Prime de quart :</strong> {{ detailcontrats.prime_quart|yesno:"Oui,Non" }}</p>
                    <p><strong>Prime de panier :</strong> {{ detailcontrats.prime_panier|yesno:"Oui,Non" }}</p>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}