 {% extends 'layout/Layout.html'%}
 <!-- Page Heading -->
 {% load static %}
 {% block content %}
 	<div class="container sm-3">
	 	<div class="row">
	 		<div class="col-sm-8 offset-2">
	 			<h3 class="alert alerte-info">Modifier les information d'un contrat</h3>
	 			<form class="card-body" action="" method="post">
	 				{%  csrf_token %}
	 				{{form.as_p}}
	 				<div class="form-group">
	 					<input type="submit" class="btn btn-success" name="" value="Enregistrer">
	 					<a href="{% url 'contrat' %}" class="btn btn-info">Retour</a>
	 				</div>
	 			</form>
	 		</div>
	 	</div>
 	</div>
 {% endblock %}