<footer class="sticky-footer bg-dark text-white py-4">
    <div class="container">
        <div class="row">
            <!-- About Section -->
            <div class="col-md-4 text-center text-md-left">
                <h5>À propos de nous</h5>
                <p>Nous sommes engagés à améliorer la gestion des talents dans les entreprises.</p>
            </div>

            <!-- Quick Links -->
            <div class="col-md-4 text-center">
                <h5>Liens rapides</h5>
                <ul class="list-unstyled">
                    <li><a href="{% url 'personel' %}" class="text-white">Gestion des employés</a></li>
                    <li><a href="{% url 'contrat' %}" class="text-white">Gestion des Contrats</a></li>
                    <li><a href="{% url 'livre_de_paie' %}" class="text-white">Livre de paie</a></li>
                    <li><a href="{% url 'gpec_dashboard' %}" class="text-white">GPEC</a></li>
                </ul>
            </div>

            <!-- Contact Info -->
            <div class="col-md-4 text-center text-md-right">
                <h5>Nous contacter</h5>
                <p>
                    <i class="fas fa-map-marker-alt"></i> Zone du bois 01 BP : 1612 Ouagadougou O1, Burkina Faso<br>
                    <i class="fas fa-phone"></i> +226 25 36 32 92<br>
                    <i class="fas fa-phone"></i> +226 02 60 04 04 / +226 02 60 09 09<br>
                    <i class="fas fa-envelope"></i> direction@humanprojectgroup.com
                </p>
            </div>
        </div>
        <div class="text-center">
            <span>&copy; HUMAN PROJECT 2023. Tous droits réservés.</span>
        </div>
    </div>
</footer>