{% load static %}
<ul class="navbar-nav bg-primary sidebar sidebar-dark accordion" id="accordionSidebar">
    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="{% url 'index' %}">
        <div class="sidebar-brand-icon">
            <img class="img-thumbnail" src="{% static 'img/logo.jpeg' %}" alt="Logo" height="50" width="50">
        </div>
        <div class="sidebar-brand-text mx-3">HUMAN PROJECT</div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- User Info -->
    <li class="nav-item">
        <a class="nav-link" href="#">
            <i class="fas fa-user"></i>
            <span>{{request.user.first_name}}</span>
        </a>
    </li>

    <hr class="sidebar-divider">

    <!-- Super Admin Section -->
    {% if request.user.is_superuser %}
    <li class="nav-item">
        <a class="nav-link" href="{% url 'user_list' %}">
            <i class="fas fa-users"></i>
            <span>Utilisateurs</span>
        </a>
    </li>
    {% endif %}

    <!-- RH (Ressources Humaines) Menu -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseRH" aria-expanded="true"
            aria-controls="collapseRH">
            <i class="fas fa-users-cog"></i>
            <span class="text-white">RH</span>
        </a>
        <div id="collapseRH" class="collapse" aria-labelledby="headingRH" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <a class="collapse-item" href="{% url 'personel' %}">Gestion Employé</a>
                <a class="collapse-item" href="{% url 'contrat' %}">Gestion Contrat</a>
                <a class="collapse-item" href="{% url 'structure' %}">Gestion Structure</a>
            </div>
        </div>
    </li>

    <!-- GPEC Menu -->
    <li class="nav-item">
        <a class="nav-link" href="{% url 'gpec_dashboard' %}">
            <i class="fas fa-file-contract"></i>
            <span>GPEC</span>
        </a>
    </li>

    <!-- Nav Item - Livre de Paie -->
    <li class="nav-item">
        <a class="nav-link" href="{% url 'livre_de_paie' %}">
            <i class="fas fa-book"></i>
            <span class="text-white">Livre de Paie</span>
        </a>
    </li>

    <!-- Collapsible Nav Item - Déclaration -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseDeclaration"
            aria-expanded="true" aria-controls="collapseDeclaration">
            <i class="fas fa-file-alt"></i>
            <span class="text-white">Déclaration</span>
        </a>
        <div id="collapseDeclaration" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Types de Déclarations :</h6>
                <a class="collapse-item" href="{% url 'bnts_declaration' %}">Déclaration CNSS</a>
                <a class="collapse-item" href="{% url 'iuts_declaration' %}">Déclaration IUTS</a>
                <a class="collapse-item" href="{% url 'tpa_declaration' %}">Déclaration TPA</a>
            </div>
        </div>
    </li>

    <!-- Nav Item - Scanner -->
    <!-- <li class="nav-item">
        <a class="nav-link" href="{% url 'scann_cnib' %}">
            <i class="fas fa-print"></i>
            <span class="text-white">Scanner</span>
        </a>
    </li> -->

    <!-- Nav Item - Importer Employés Excel -->
    <!-- <li class="nav-item">
        <a class="nav-link" href="{% url 'importPersonnel' %}">
            <i class="fas fa-download"></i>
            <span class="text-white">Importer Employés Excel</span>
        </a>
    </li> -->

    <!-- Nav Item - Statistiques -->
    <li class="nav-item">
        <a class="nav-link" href="{% url 'stat_employe_structure' %}">
            <i class="fas fa-chart-bar"></i>
            <span class="text-white">Statistiques</span>
        </a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider d-none d-md-block">

    <!-- Sidebar Toggler -->
    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>
</ul>